[Unit]
Description=DualSense Edge UHID Proxy
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/dseuhid
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
