[Unit]
Description=DualSense Edge UHID Proxy
After=systemd-udevd.service

[Service]
Type=simple
ExecStart=/usr/bin/dseuhid
Environment=RUST_LOG=info
ExecReload=/usr/bin/edgemap reload
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
