[Desktop Entry]
Name=edgemap Config Editor
Comment=DualSense Edge remap configuration editor
Exec=edgemap-gui
Icon=edgemap
Terminal=false
Type=Application
StartupWMClass=edgemap
Categories=Game;
